[Unit]
Description=converts fessbox logs to influxdb lines
After=run-user-0.mount

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/tail -n 0 -f /home/fri/fessbox/backend-node/log/app.log | /usr/local/bin/jsonline s --names websocket --names message >> /run/log/fessbox/voxbox.log"
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
